html{
    background:#f5f5f5;
}
body{
    background-color:white;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}
h1{
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.qui-header{
    background-color: #2bab79;
    height: 90px;
}
.plcRouteList1{
    margin-left: 5px;
}
.plcRouteList2
{
    margin-left: 5px;
}
.plc{
    border-radius: 50%;
}
.bottom{
    position: absolute ;
    top: 400px;
    left: 460px;
}
.bottom2
{
    position: absolute ;
    top: 775px;
    left: 460px;
}
.face{
    float: left;
    border: 1px solid white;
    width: 39px;
    height: 39px;
    border-radius: 50%;
}
.face2
{
    float: left;
    border: 1px solid white;
    width: 39px;
    height: 39px;
    border-radius: 50%;
}
.title{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bolder;
    line-height: 40px;
    margin-left: 70px;
}
.title2
{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bolder;
    line-height: 40px;
    margin-left: 70px; 
}
.day{
    position: absolute;
    top: 85px;
    right: 470px;   
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #2bab79;
    line-height: 40px;
    color: white;
}
.secondday
{
    position: absolute;
    top: 485px;
    right: 470px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #2bab79;
    line-height: 40px;
    color: white; 
}
em{
    font-style: normal;
    font-weight: bolder;
}
span{
    margin-left: 30px;
}
.quid-aside
{
    position:absolute;
    top: 10px;
    left: 130px;
    /* border: 1px solid red; */
    width: 200px;
    height: 890px;
    background-color: #2d3741;
    

}
ul{
    list-style: none;
}
.nav-aside
{
/* border: 1px solid red; */
padding: 80px 10px;

}
.nav-aside a{
font-size:  16px;
color: white;
line-height: 44px;
padding-left: 15px; 
text-decoration: none;
display: block;
}
.nav-aside a:hover{
    color: white;
    background-color: green;
}


.qui-footer{
    /* border: 1px solid red; */
    font-size: 10px;
    line-height: 20px;    
    text-align: center;
    letter-spacing: 10px;
}

.qui-footer a{
    text-decoration: none;
    color: #444;
}


